h1 {
    position: relative;
    top: 100px;
    font-size: 56px;
    
    text-align: center;
    margin-bottom: 50px;
    height: 250px;
    color: #e46f31;
    text-shadow: 2px 2px #31183b;
    -webkit-user-select: none; /* Chrome, Safari, Edge */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none; /* Standard syntax */
}

h2 {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.blog-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 50px 260px;
  border: solid #cf5513;
  border-radius: 5ch;
  background: #d5865a;
}


.image-container {
    width: 35%;
    display: block;
    margin: auto 50px auto 0px;
  }
  
img {
    border-radius: 30%;
    width: 100%;
}
  
.text-container {
    margin: 50px 90px;
    width: 70%;
}
  
  
@media only screen and (max-width: 1650px) {
    
    .blog-container {
        margin: 50px 180px;
    }
        
}